
.app_body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: calc(var(--vh, 1vh) * 100);
}
.coordinate {
    flex: 1;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}
.score {
    display: flex;
    flex-direction: row;
    border-top: 1px solid black;
}
.score .corrects {
    flex: 1;
    padding-left: 10px;
    text-align: left;
}
.score .incorrects {
    flex: 1;
    padding-right: 10px;
    text-align: right;
}
.score .ratio {
    flex: 1;
    text-align: center;
}
.chessboard {
    flex: 1;
    margin-bottom: 0;
}
.row {
    display: flex;
    flex-direction: row;
}
.square {
    flex: 1 0 calc(100%/8);
}
.square:after{
    content: '';
    display: block;
    padding-bottom: 100%;
}
.white {
    background-color: rgb(240, 217, 181);
}
.black {
    background-color: rgb(181, 136, 99);
}
.piece .square{
    /* width: 12.5%;
    height: 12.5%; */
    top: 0;
    left: 0;
    background-size: cover;
    z-index: 2;
    /* pointer-events: none; */
}